DB_CONNECTION_STRING=sqlserver://user:password@host:1433?database=StockCentral
PRODUCTS_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9exampleopaqueproductapitokenstring1234567890abcdef
SENDGRID_API_KEY=SG.abcabcabcdefdefdef1234567890examplekeyforSendGridAPI1234567890abcdefg
