<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--10 minutos-->
    <add key="timeEchotest" value="30000" />


    <!--1 minutos-->
    <add key="timeX" value="60000" />
    <!--30 minutos-->
    <add key="timeZ" value="1800000" />
    <!--Archivo log (para analizar tiempos)-->
    <add key="PathLog" value="C:\CtcILS\StockCentralUploadListProducts\Log\" />
    <add key="PathProductsFile" value="C:\CtcILS\StockCentralUploadListProducts\ImportProducts\" />
    <add key="PathImagenes" value="C:\CtcILS\StockCentralUploadListProducts\Imagenes" />
    <add key="LogType" value="1" />
    <add key="MagentoAdmin" value="ctcservices" />
    <add key="MagentoPass" value="ctcservices53" />
    <add key="StockCentral" value="server=192.168.2.134,1433;User ID=ctcservicios;Password=ctc53servicios;database=StockCentral;Connection Reset=FALSE;Max Pool Size=8000;"/>
    <add key="URL_Magento" value="http://52.43.87.114" />

    <!--Configuracion del SFTP-->
    <add key="HostName" value="52.43.87.114" />
    <add key="UserName" value="ubuntu" />
    <add key="SshHostKeyFingerprint" value="ssh-ed25519 256 Y0ijcBUxS6GlJ/BVJ37WFeKtSQ2TnrIarCA8iUFyNag=" />
    <add key="SshPrivateKeyPath" value="C:\CTC\SW-HW\CTC040CLD5-Magento CTC Commerce\ctc040Cloud5-MAGENTOCTCCOMMERCE_priv.ppk" />

    <add key="PortNumber" value="22"  />
    <add key="SftpPath" value="/var/www/html/pub/media/import/"  />
    <add key="WinCspExe" value="C:\Workfolder\ctcILS\MagentoConnector\StockCentralToMagentoServices\StockCentralUploadListProducts\winscp\WinSCP.exe" />
    <!--FIN SFTP-->
    <add key="GenerarImagenesTodoelCatalogo" value="1"  />
    <add key="SincronizarImagenes" value ="1"/>
    <!-- Solo se activa la exportación de un catalogo colocando el ID de catalogo ILS. En caso de que sean todos se pone 0-->
    <add key="ActivarSoloCatalogoNro" value ="31"/>


    <add key="URL_API_CTC" value="http://stockcentral.ctcils.com.ar:26202" />
    <!-- <add key="ProviderIntegrator" value="FULLJAUS" />-->
    <add key="ProviderIntegrator" value="CTC" />
    <add key="TokenProviderIntegrator" value="neA71YTH7e9tmJtQsQSSo-TMMcgXveS9GSWO5IgX-BfW4d_9Y-Z4Nd2HvSaM_0ESl2uMdPICgo1w1hPlMUzu507lfccpXMNT2a40GskwxnyRtBEFWSDmo6aVsMOGj0lbUmM3L7Taixjsenr46eu7Z6VQtVfCxYp2xRPqlltsI1Xi0OcFxXk_WDfqpisGphTIJOk9Qj-fc5iZvHxYh0BndWFs6wbqkGslG7LyGKOZo9Iy5f93-kP6VsNGLwxZYtz9S5V1ECnsycDj4SSQhjvju56YcA9T3pmmVxrwfNUVKBv9uQgSEHQ8UIi6XvMgXaCh" />
    <add key="StorePathUploadProducts" value="C:\CtcILS\StockCentralUploadListProducts\StorePathUploadProducts" />
    <add key="IFPS_HistoryDirectory" value="C:\CtcILS\StockCentralUploadListProducts\IFPS_HistoryDirectory" />
    <add key="IFPS_FileNotFoundDirectory" value="C:\CtcILS\StockCentralUploadListProducts\IFPS_FileNotFoundDirectory" />

  </appSettings>

</configuration>